body {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logoo{
  height: 60px;
  padding: 5px;
  padding-left: 20px;
}
.navbar {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: black;
  position: fixed;
  width: 1525.0px;
  z-index: 1;
  transform: translate(0,15.0px);
}
.CONTATTI, .informazioni, .giochi{
font-size: 15px;
padding: 20px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:white;
text-decoration: none;
transition: all 0.3s ease
}

.CONTATTI:hover,
.informazioni:hover,
.giochi:hover {
transform: scale(1.12);
text-shadow: 0 0 20px #ffffff;
transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.bottoni{
margin-left:20px ;
}


.content {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

h1, h2 {
  color: #ff4a13;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
}

p {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 100px;
}

.img-side {
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 50;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 77, 28, 0.4);
}

.main-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  max-width: 700px;
  display: block;
  margin-top: 45px;
  margin-left: 160px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 126, 27, 0.4);
}

.caption {
  text-align: center;
  font-style: italic;
  color: #ccc;
  margin-bottom: 30px;
}
.helmet-gallery {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.helmet {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.helmet img {
  width: 100%;
height: 200px;
object-fit: cover;
  border-radius: 8px;
}

.site-footer {
    background-color: #1c1c1c;
    color: #ccc;
    font-size: 14px;
    padding: 40px 20px;
  }
  
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .footer-nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  .footer-logos{
    margin-right: 155.0px;
  }
  .footer-logos img,
  .footer-socials a img {
    width: 50px;
    margin: 0 10px;
    transition: all 0.3s ease;
  }
  .footer-logos img,
  .footer-socials a img:hover {
   transform: scale(1.2);
  }
  
  .footer-socials {
    display: flex;
    align-items: center;
    
  }
  
  
  .footer-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    

  }
.footer-middle img{
    margin-left: 10px;
}
  
  .footer-middle img {
    width: 80px;
  }
  
  .footer-bottom {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    color: #999;
  }
  
  .footer-bottom p a {
    color: #e63946;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  hr {
    border: 0;
    border-top: 1px solid #333;
    margin: 20px 0;
  }
.f{
    margin-right: 5px;
}
.x{
    margin-left: -10px;
}
.footer-bottom p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer-nav a{
    transition: all 0.3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer-nav a:hover  {
    color:#e63946;
}
